@media (max-width: 600px){
    body {
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: inline-block;
    }

    .headertitle {
        position: absolute;
        top: 2.5dvh;
        left: 1dvw;
        width: 60dvw;
        height: 10dvh;
        text-align: center;
    }

    .details {
        position: absolute;
        bottom: 2.5dvh;
        left: 1dvw;
        width: 70dvw;
        height: 25vh;
    }

    .navigation {
        position: absolute;
        top: 30dvh;
        left: 1dvw;
        width: 10dvw;
        height: 28dvh
    }

    .menu-con {
        position: absolute;
        top: 2.5dvh;
        right: 1dvw;
        width: 10dvw;
        height: 7dvh
    }

    .info-nav {
        position: absolute;
        bottom: 2.5dvh;
        right: 1dvw;
        width: 10vw;
        height: 14vh;
    }

    .folderbox {
        position: absolute;
        bottom: 2.5dvh;
        left: 14.5dvw;
        width: 70dvw;
        height: 80dvh;
    }

    /* Icon */

    .info-icon {
        display: inline-block;
        position: absolute;
        top: 1dvh;
        left: 0.5dvw;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .contact-icon {
        display: inline-block;
        position: absolute;
        top: 8dvh;
        left: 0.5dvw;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .home-icon {
        display: inline-block;
        position: absolute;
        top: 1dvh;
        left: 0.5dvw;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .folder-icon {
        display: inline-block;
        position: absolute;
        top: 8dvh;
        left: 0.5dvw;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .links-icon {
        display: inline-block;
        position: absolute;
        top: 15dvh;
        left: 0.5dvw;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .about-me-icon {
        display: inline-block;
        position: absolute;
        top: 22dvh;
        left: 0.5dvw;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .menu-icon {
        display: inline-block;
        position: absolute;
        top: 1dvh;
        left: 0.5dvw;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    /* Fonts */

    .headertitle h1 {
        font-size: 2em;
    }

    .details p {
        padding-left: 2vh;
        padding-right: 2vh;
        font-size: 1em;
    }



}