body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
}

.headertitle {
    position: absolute;
    top: 2.5vh;
    left: 1vw;
    width: 20vw;
    height: 10vh;
    text-align: center;
}

.details {
    position: absolute;
    bottom: 2.5vh;
    left: 1vw;
    width: 40vw;
    height: 20vh;
}

.navigation {
    position: absolute;
    top: 30vh;
    left: 1vw;
    width: 4vw;
    height: 28vh
}

.menu-con {
    position: absolute;
    top: 2.5vh;
    right: 1vw;
    width: 4vw;
    height: 7vh
}

.info-nav {
    position: absolute;
    bottom: 2.5vh;
    right: 1vw;
    width: 4vw;
    height: 14vh;
}

.folderbox {
    position: absolute;
    bottom: 2.5vh;
    left: 7.5vw;
    width: 85vw;
    height: 80vh;
}

/* Icon */

.info-icon {
    display: inline-block;
    position: absolute;
    top: 1vh;
    left: 0.5vw;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.contact-icon {
    display: inline-block;
    position: absolute;
    top: 8vh;
    left: 0.5vw;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.home-icon {
    display: inline-block;
    position: absolute;
    top: 1vh;
    left: 0.5vw;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.folder-icon {
    display: inline-block;
    position: absolute;
    top: 8vh;
    left: 0.5vw;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.links-icon {
    display: inline-block;
    position: absolute;
    top: 15vh;
    left: 0.5vw;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.about-me-icon {
    display: inline-block;
    position: absolute;
    top: 22vh;
    left: 0.5vw;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.menu-icon {
    display: inline-block;
    position: absolute;
    top: 1vh;
    left: 0.5vw;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

/* Fonts */

.details p {
    padding-left: 2vh;
    padding-right: 2vh;
}


