@media (max-width: 600px){
    body {
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: inline-block;
    }

    .headertitle {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 200px;
        height: 90px;
        text-align: center;
    }

    .details {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 250px;
        height: 150px;
    }

    .navigation {
        position: absolute;
        top: 250px;
        left: 10px;
        width: 50px;
        height: 210px
    }

    .menu-con {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 50px;
        height: 65px;
    }

    .info-nav {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 115px;
    }

    .folderbox {
        position: absolute;
        bottom: 10px;
        left: 72.5px;
        width: 150px;
        height: 700px;
    }

    /* Icon */

    .info-icon {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 3.5px;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .contact-icon {
        display: inline-block;
        position: absolute;
        top: 60px;
        left: 3.5px;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .home-icon {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 3.5px;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .folder-icon {
        display: inline-block;
        position: absolute;
        top: 60px;
        left: 3.5px;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .links-icon {
        display: inline-block;
        position: absolute;
        top: 110px;
        left: 3.5px;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .about-me-icon {
        display: inline-block;
        position: absolute;
        top: 160px;
        left: 3.5px;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    .menu-icon {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 3.5px;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
    }

    /* Fonts */

    .headertitle h1 {
        font-size: 2em;
    }

    .details p {
        padding-left: 2vh;
        padding-right: 2vh;
        font-size: 1em;
    }



}