@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.ttf);
}

* {
    font-family: "Montserrat";
}

body {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main .container {
    display: flex;
    position:fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100svh;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.027);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 5px rgb(68, 74, 136);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

main .container .navbar {
    position: absolute;
    bottom: 0;
    left: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

main .container .navbar .child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0.5rem;
}

main .container .navbar .child:hover {
    background-color: rgba(255, 255, 255, 0.027);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 5px rgb(68, 74, 136);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

a {
    text-decoration: none;
    color: black;
}

main .container .linkbar {
    position: absolute;
    bottom: 0;
    right: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

main .container .linkbar .child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0.5rem;
}

main .container .linkbar .child:hover {
    background-color: rgba(255, 255, 255, 0.027);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 5px rgb(68, 74, 136);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

main .container h4 pre {
    font-size: 1vw;
}

h4 {
    font-size: 1vw;
}

@media screen and (max-width: 600px) {
    main .container {
        width: 100vw;
    }

    main .container .linkbar {
        bottom: 5vh;
    }

    main .container h4 pre {
        font-size: 2vw;
    }

    h4 {
        font-size: 2vw;
    }

    h2 {
        font-size: 5vw;
    }
}