body {
    background-image: url(images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

pre {
    font-family: monospace;
    font-size: 1.2rem;
    color: rgba(181, 157, 153);

    white-space: pre-wrap;   
    word-wrap: break-word;   
    overflow-wrap: break-word;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 5vh;
    left: 3vw;
    background-color: rgba(255, 255, 255, 0.028);
    border: 1px solid rgba(181, 157, 153, 0.2);
    border-radius: 25px;
    width: 20vw;
    height: 30vh;
    padding: 10px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.links {
    display: flex;
    gap: 0.75rem;
}

.facebook {
    background-image: url(icons/facebook.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    padding: 0;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

.youtube {
    background-image: url(icons/youtube.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    padding: 0;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

.github {
    background-image: url(icons/github.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    padding: 0;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

/* Responsive */

@media screen and (max-width: 1200px) {
    .box {
        width: 30vw;
    }
}

@media screen and (max-width: 857px) {
    .box {
        width: 40vw;
    }
}

@media screen and (max-width: 747px) {
    .box {
        width: 50vw;
    }
}

@media screen and (max-width: 637px) {
    .box {
        width: 60vw;
    }
}

@media screen and (max-width: 300px) {
    .box {
        width: 80vw;
    }
}

@media screen and (max-height: 784px) {
    .box {
        height: 35vh;
    }
}

@media screen and (max-height: 670px) {
    .box {
        height: 40vh;
    }
}

@media screen and (max-height: 582px) {
    .box {
        height: 45vh;
    }
}

@media screen and (max-height: 520px) {
    .box {
        height: 50vh;
    }
}

@media screen and (max-height: 460px) {
    .box {
        height: 55vh;
    }
}

@media screen and (max-height: 420px) {
    .box {
        height: 60vh;
    }
}

@media screen and (max-height: 390px) {
    .box {
        height: 80vh;
    }
}