body {
    background: linear-gradient(to bottom, #C7EABB 70%, #A2CB8B 30%);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.Window {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 40vh;
    background-color: #E8FFD7;
    position: absolute;
    top: 30vh;
    left: 35vw;
    border: 2px solid #93DA97;
    border-radius: 15px;
    padding: 0;
    box-shadow: 0px 5px 0px #285844;
}

.w_header { 
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    height: 7.5%;
    background-color: #A2CB8B;
    border: 2px solid #93DA97;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-sizing: border-box;
}

h6 {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-weight: 300;
    font-size: 1.1rem;
    color: #3E5F44;
}

.w_text {
    position: relative;
    top: 30%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-weight: 300;
    font-size: 3rem;
    color: #3E5F44;
}

.Navigation {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
    height: 3vh;
    background-color: #E8FFD7;
    border: 2px solid #93DA97;
    border-radius: 15px;
    box-shadow: 0px 5px 0px #285844;
}

a {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-weight: 300;
    font-size: 1.1rem;
    color: #3E5F44;
    text-decoration: none;
}

a:hover {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.1rem;
    color: #3E5F44;
}

.w_links {
    position: relative;
    top: 30%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.w_linkss {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

h2 {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-weight: 300;
    color: #3E5F44;
}

.w_about {
    position: relative;
    top: 10%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

p {
    padding: 0;
    margin: 12px;
    font-family: monospace;
    font-weight: 300;
    font-size: 1.4rem;
    word-spacing:30%;
    color: #3E5F44;
}

.w_contact {
    position: relative;
    top: 30%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1500px) {
    .Navigation {
        width: 16vw;
    }
}

@media screen and (max-width: 1400px) {
    .Navigation { 
        width: 18vw;
    }

    .Window {
        width: 35vw;
        left: 32.5vw;
    }
}

@media screen and (max-width: 1300px) {
    .Navigation {
        width: 20vw;
    }
}

@media screen and (max-width: 1200px) {
    .Navigation {
        width: 22vw;
    }

    .Window {
        width: 40vw;
        left: 30vw;
    }
}

@media screen and (max-width: 1100px) {
    .Navigation {
        width: 24vw;
    }
}

@media screen and (max-width: 900px) {
    .Navigation {
        width: 26vw;
    }

    .Window {
        width: 50vw;
        left: 25vw;
    }
}

@media screen and (max-width: 782px) {
    .Navigation {
        flex-direction: column;
        height: 20vh;
        width: 20vw;
    }
    .Window {
        width: 75vw;
        left: 12.5vw;
    }
}

@media screen and (max-width: 500px) {
    .Window {
        width: 98vw;
        left: 1vw;
    }
}


@media screen and (max-width: 389px) {
    .Navigation {
        flex-direction: column;
        height: 20vh;
        width: 25vw;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 285px) {
    .Navigation {
        flex-direction: column;
        height: 20vh;
        width: 30vw;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 233px) {
    .Navigation {
        flex-direction: column;
        height: 20vh;
        width: 40vw;
    }
}